# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
kafka_checkpoint
Kafka_Receiver
META-INF
metastore_db
.idea
*.iml
out
target
people.parquet
scalaTest
StreamingTxt
spark-warehouse/
src/test/
